/* Colors */
$grey: #CDCDCD;
$lg-grey: #E4E4E4;
$white: #ffffff;
$black: #000000;
$lg-black: #333333;
$darkBlue: hsl(233, 26%, 24%);



// Font Size & Weights
$font-navSm: 1.25rem;
$font-textSm: 1rem;


$font-nav: 1.5rem;
$font-text: 1.25rem;
$font-heading: 3.3125rem;
$font-subHeading: 2.5rem;
